@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

p,
h6,
label,
a {
    font-size: 14px;
}

h5 {
    font-size: 16px;
}

h4 {
    font-size: 18px;
}

h3 {
    font-size: 20px;
}

h2 {
    font-size: 22px;
}

h1 {
    font-size: 24px;
}

.bg-primary {
    color: white;
}