* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    background-color: #ffffff;
    color: #333;
    /* width: 36%; */
    margin: auto;
    max-width: 480px;
    min-width: 360px;
    font-family: 'Poppins', sans-serif;
}

.body {
    padding: 60px 30px;
    /* background-color: #ffff11; */
}

p {
    font-size: 16px;
}

.bg-purple {
    background-color: #514871;
}

.purple {
    color: #524973;
}

.highlight {
    background-color: white;
    font-size: 20px;
    color: #524973;
    font-weight: bold;
    padding: 7px;
}

.containerr {
    margin: auto;
    width: 320px;
    margin-bottom: 100px;
    /* background-color: aliceblue; */
}

.header1 {
    margin-top: 70px;
}

.logo {
    max-height: 45px;
}

.logo2 {
    max-height: 35px;
}

.title {
    margin-top: 100px;
}

.title1 {
    font-size: 32px;
    font-weight: bold;
}

.image {
    margin-top: 150px;
}

.contact {
    margin-top: 50px;
}

.donate {
    box-shadow: -4px 4px 20px 5px rgba(255, 255, 255, 0.25);
    padding: 15px;
    margin: auto;
    max-width: 480px;
    min-width: 360px;
}


/* Report */

.body-report {
    padding: 30px;
}

.avatar {
    max-height: 50px;
}

.total {
    font-size: 52px;
}

.greet {
    margin: auto;
    width: 87%;
    padding: 20px;
    background-color: #fff;
    margin-top: -44px;
    text-align: center;
    padding-bottom: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.violet {
    background-color: #E5DBE2;
}

.pb-100 {
    padding-bottom: 100px;
}


/* .wa-float {
    position: fixed;
    background-color: #E5DBE2;
    width: 50px;
    height: 50px;
} */

.btn-float {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 25px;
    box-shadow: 2px 2px 3px #999;
    padding-top: 6px;
}

.wa-float a:hover {
    color: #fff;
}

@media only screen and (max-width: 500px) {
    .logo2 {
        max-height: 30px;
    }
    .greet p {
        font-size: 14px;
    }
    .total {
        font-size: 46px;
    }
    .avatar {
        max-height: 45px;
    }
}

@media only screen and (max-width: 400px) {
    body {
        width: 100%;
    }
    p {
        font-size: 13px;
    }
    .containerr {
        width: 300px;
        background-color: #ffffff;
    }
    .logo {
        max-height: 35px;
    }
    .logo2 {
        max-height: 25px;
    }
    .highlight {
        font-size: 16px;
        padding: 5px;
    }
    /* Report */
    .total {
        font-size: 42px;
    }
    .avatar {
        max-height: 40px;
    }
    .greet p {
        font-size: 12px;
    }
    .table {
        font-size: 12px;
    }
}