* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$gray: #f8f8f8;
$lightsage :#6B7D63;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
    background-color: white;
    font-family: "Poppins";
    color: #333;
    max-width: 420px;
    margin: auto;
    background-color: $gray;
}

.main {
    min-height: 643px;
    padding: 0 20px 100px 20px;
    box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.1);
}

// ======= MARGIN AND PADDING =======
.mb-30 {
    margin-bottom: 30px;
}

.mt-30 {
    margin-top: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mt-40 {
    margin-top: 40px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.pt-30 {
    padding-top: 30px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pt-100 {
    padding-top: 100px;
}

.pb-100 {
    padding-bottom: 100px;
}

.py-8 {
    padding: 8px 0;
}

// ======= FONT =======
h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}

h2 {
    font-size: 22px;
    line-height: 33px;
}

h4 {
    font-size: 18px;
    line-height: 27px;
}

h5 {
    font-size: 16px;
    line-height: 24px;
}

p,
h6,
label {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
}

.text-gray {
    color: #333;
}

.text-silver {
    color: #888;
}

.text-sage {
    color: #525E4D;
}

// ======= BUTTON =======
.btn {
    border-radius: 4px;
    font-size: 12px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:target {
    color: white;
}

.btn-whatsapp {
    background-color: #47c758;
    color: white;
}

.btn-whatsapp:hover {
    background-color: #2cab3d;
    color: white;
}

// ======= TABLE =======
table {
    font-size: 13px;
}

// ======= FORM =======
.checkbox {
    border: 1px solid #333333;
    border-radius: 2px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

// ======= MENU ========
.menu {
    max-width: inherit;
    padding: 15px 0 10px 0;
    background-color: white;
    box-shadow: 0px -4px 30px 1px rgba(0, 0, 0, 0.05);
}

a.menu-bottom {
    text-decoration: none;
    color: #333;
}

a.menu-bottom p {
    font-size: 10px;
    margin-bottom: 0;
}

.menu-order img {
    margin-top: -75%;
}

a.menu-order p {
    font-size: 14px;
    margin-top: -10%;
}

.active {
    background-color: $lightsage;
    color: white;
}
// ======= CUSTOMER =======

// ======= CUSTOMER HOME =======
.avatar {
    border-radius: 50%;
}

// ======= CUSTOMER CART =======
.total {
    max-width: 420px;
    margin: auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
}

// ======= CUSTOMER CATALOG =======
.catalog-img {
    border: 1px solid #000000;
    border-radius: 5px;
}

// ======= ADMIN =======

// ======= ADMIN HOME =======
.card-admin {
    background: #B1C1A9;
    border-radius: 10px;
}


// ======= ADMIN CATALOG =======
.ck-editor__editable[role="textbox"] {
    /* editing area */
    min-height: 150px;
}


// ======= RESPONSIVE =======

@media only screen and (max-width: 500px) {
    body {
        background-color: $gray;
        max-width: 480px;
    }
    .menu {
        width: 100%;
    }

    .main, .total {
    max-width: inherit;
    box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.0);
    }
}