body {
    width: 36%;
    margin: auto;
    margin-top: -10px;
    font-family: 'Poppins', sans-serif;
    color: #333333;
    box-sizing: border-box;
}

.body {
    margin-bottom: 130px;
}

.navbar {
    padding: 20px 30px;
}

.back {
    width: 15px;
    height: 20px;
}

.nav {
    margin-top: 5px;
    font-size: 12px;
    font-weight: bold;
}

.cta {
    margin-left: 50px;
}

.menu {
    width: inherit;
    height: 80px;
    padding: 18px 30px;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #2E3349;
}

.menu a {
    font-weight: 600;
    font-size: 9px;
    line-height: 13px;
    color: #333;
    text-decoration: none;
}


/* Sholat */

.banner-sholat {
    border-top: 1px solid #888888;
    background: #9CC2F7;
    color: #403965;
    padding: 50px 35px 20px 0;
}

.banner-sholat .cta h6 {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 0;
}

.banner-sholat .cta h5 {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
}

.btn-location {
    background: #403965;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    font-size: 10px;
}

.icon {
    margin-right: 8px;
}

.btn:hover {
    color: #fff
}

.vector-sholat {
    margin-top: -18px;
    width: 240px;
}

.header {
    margin: 50px 30px 0 30px;
}

.date h5 {
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 0;
}

.date h6 {
    font-weight: 500;
    font-size: 9px;
    line-height: 21px;
}

.schedule {
    margin: 30px 30px 0 30px;
}

.schedule .row {
    margin-bottom: 5px;
}

.schedule h5 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.schedule h6 {
    color: rgba(64, 57, 101);
}

.schedule .t-50 {
    color: rgba(64, 57, 101, 0.5);
}

.schedule hr {
    margin: auto;
    width: 96%;
    border: 1px solid #959595;
}


/* Zakat */

.banner-zakat {
    background: #FDE3C8;
    border-top: 1px solid #888888;
    width: 100%;
    margin: auto;
    color: #65564D;
    padding: 50px 18px 20px 0;
}

.banner-zakat .cta h5 {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
}

.banner-zakat .cta button {
    background: #65564D;
    border-radius: 5px;
    font-weight: 500;
    font-size: 10px;
    color: #fff;
    margin-top: 6px;
}

.vector-zakat {
    margin-top: -100px;
    width: 240px;
}

.jenis-zakat {
    margin: auto;
    margin-top: 50px;
    padding: 0 15px;
}

.box {
    width: 120px;
    height: 120px;
    background: #FDE3C8;
    border-radius: 15px;
    padding: 18px 0;
    margin-bottom: 30px;
}

.box h6 {
    font-weight: bold;
    font-size: 10px;
    line-height: 13px;
    color: #333333;
    margin-top: 10px;
}

.kalkulator-zakat {
    width: 90%;
    border: 2px solid #2E3349;
    box-sizing: border-box;
    border-radius: 20px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 50px;
}

.kalkulator-zakat h5 {
    font-weight: 900;
    font-size: 16px;
    text-align: center;
    margin-top: 30px;
}

.form-zakat h6 {
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    margin: 20px 0 20px 20px;
    margin-bottom: 10px;
}

.form-kalkulator,
.input-pendapatan,
.input-bonus {
    width: 90%;
    margin: auto;
    font-size: 10px;
}

.input-pendapatan,
.input-bonus {
    margin-top: -10px;
}

.kalkulator-zakat .row button {
    background: #FDE3C8;
    border: 1px solid #2E3349;
    border-radius: 5px;
    font-weight: 500;
    width: 100px;
    height: 30px;
    font-size: 12px;
    line-height: 18px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.kalkulator-zakat button:hover {
    color: #333;
}


/* Puasa */

.banner-puasa {
    background: #FFC7C0;
    border-top: 1px solid #888888;
    width: 100%;
    margin: auto;
    color: #7B3A3A;
    padding: 50px 18px 20px 0;
}

.banner-puasa .cta h5 {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
}

.banner-puasa .cta button {
    background: #7B3A3A;
    border-radius: 5px;
    font-weight: 500;
    font-size: 10px;
    color: #fff;
    margin-top: 6px;
}

.vector-puasa {
    margin-top: -29px;
    width: 240px;
}

.week {
    margin: auto;
    margin-top: 20px;
    width: 94%;
}

.hari {
    width: 40px;
    height: 50px;
    background: #FFD4CE;
    border: 2px solid #7B3A3A;
    box-sizing: border-box;
    border-radius: 5px;
}

.hari h6 {
    font-weight: 300;
    font-size: 8px;
    line-height: 12px;
    margin-bottom: 4px;
    margin-top: 5px;
}

.hari h4 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.puasa-sunnah {
    width: 8px;
    height: 8px;
}

.ayyamul-bidh {
    background-color: #8BDF49;
}

.senin-kamis {
    background-color: #84B5FF;
}

.card {
    margin: auto;
    width: 90%;
    border: 2px solid #7B3A3A;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 0px;
}

.tag {
    width: 10px;
    height: 50px;
    border-radius: 5px;
    margin: 15px 10px 15px 20px;
}

.card h6 {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 7px;
}

.card p {
    font-weight: 300;
    font-size: 10px;
    line-height: 15px;
}

.search_select_box {}

.search_select_box select {
    width: 100%;
}

@media only screen and (max-width: 1140px) {
    body {
        width: 80%;
    }
}

@media only screen and (max-width: 720px) {
    body {
        width: 80%;
    }
}

@media only screen and (max-width: 530px) {
    body {
        width: 100%;
    }
}