@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.about-me,
.portfolio,
.contact {
    padding: 100px 0;
    width: 100%;
}

.navy {
    background: #2C3E50;
    color: white;
}

.text-navy {
    color: #2C3E50;
}

.btn-navy {
    width: 150px;
    height: 40px;
    background: #2C3E50;
    color: white;
    font-weight: 500;
    border-radius: 10px;
}

.btn-navy:hover {
    color: white;
}

.green {
    background-color: #1ABC9C;
    color: white;
}

.text-green {
    color: #1ABC9C;
}


/* navbar */

.nav-link {
    color: white;
}

.nav-link:hover {
    color: #1ABC9C;
}


/* Jumbotron */

.jumbotron {
    margin-top: 35px;
    height: 600px;
}

.profile {
    padding-top: 120px;
}


/* About-me */


/* porfolio */

.card-port {
    border: 3px solid #2C3E50;
    border-radius: 20px;
}


/* Footer */

.footer {
    padding: 30px 0;
}


/* Media */

@media screen and ( max-width: 400px) {
    .avatar {
        margin-top: -20px;
        width: 200px;
    }
}