// custom variabel
$primary : #0D213C;
$secondary : #EAC170;

// import bootstrap
@import '../vendor/bootstrap/scss/_functions';
@import '../vendor/bootstrap/scss/_variables';

$custom-theme-colors: (
    // "purple" : #866D8B,
    // "orange" : #F39964,
    // "cream" : #E6BA95,
    // "lightsage" : #B1C1A9,
);

$theme-colors : map-merge($custom-theme-colors, $theme-colors );

// import bootstrap
@import '../vendor/bootstrap/scss/bootstrap';