@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Scheherazade:wght@400;700&display=swap');
body {
    width: 36%;
    margin: auto;
    margin-top: -10px;
    font-family: 'Poppins', sans-serif;
    color: #333333;
    box-sizing: border-box;
}

.body {
    margin-bottom: 130px;
    /* background-color: lightcyan; */
}

.navbar {
    /* background-color: aqua; */
    width: 90%;
    margin: auto;
    padding: 20px 0;
}

.back {
    width: 15px;
}

.navbar .nav {
    margin-top: 5px;
    font-size: 12px;
    font-weight: 600;
}

.menu {
    width: inherit;
    height: 80px;
    padding: 18px 30px;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #2E3349;
}

.menu a {
    font-weight: 600;
    font-size: 9px;
    line-height: 13px;
    color: #333;
    text-decoration: none;
}

.banner {
    border-top: 1px solid #888888;
    padding: 50px 35px 20px 50px;
    margin-bottom: 50px;
}

.banner .cta h5 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
}


/* Sholattt */

.banner-sholat {
    background: #9CC2F7;
    color: #403965;
}

.btn-location {
    background: #403965;
    border-radius: 5px;
    color: #fff;
    font-weight: 400;
    font-size: 10px;
}

.btn-location:hover {
    color: #fff
}

.vector-sholat {
    margin-top: -18px;
    width: 220px;
}

.time {
    width: 90%;
    margin: auto;
}

.date h5 {
    font-weight: 600;
    font-size: 15px;
    line-height: 21px;
    margin-bottom: 0;
}

.date h6 {
    font-weight: 600;
    font-size: 10px;
    line-height: 21px;
}

.schedule .row {
    margin-bottom: 5px;
}

.schedule h5 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.schedule h6 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #403965;
}

.schedule hr {
    margin: auto;
    width: 96%;
    border: 1px solid #959595;
}


/* Zakattt */

.banner-zakat {
    background: #FDE3C8;
    border-top: 1px solid #888888;
    width: 100%;
    margin: auto;
    color: #65564D;
    padding: 50px 18px 20px 0;
}

.banner-zakat .cta h5 {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
}

.banner-zakat .cta button {
    background: #65564D;
    border-radius: 5px;
    font-weight: 500;
    font-size: 10px;
    color: #fff;
    margin-top: 6px;
}

.vector-zakat {
    margin-top: -100px;
    width: 240px;
}

.box {
    width: 120px;
    height: 120px;
    border-radius: 15px;
    padding: 18px 0;
    margin-bottom: 30px;
}

.box-zakat {
    background: #FDE3C8;
}

.box-zakat h6 {
    font-weight: bold;
    font-size: 10px;
    line-height: 13px;
    color: #333333;
    margin-top: 10px;
}

.kalkulator-zakat {
    border: 2px solid #2E3349;
    box-sizing: border-box;
    border-radius: 20px;
    margin: 10px 30px 50px 30px;
}

.kalkulator-zakat h5 {
    font-weight: 900;
    font-size: 16px;
    text-align: center;
    margin-top: 30px;
}

.form-zakat h6 {
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    margin: 20px 0 20px 20px;
    margin-bottom: 10px;
}

.form-kalkulator,
.input-form {
    width: 90%;
    margin: auto;
    font-size: 10px;
}

.input-form {
    margin-top: -10px;
}

.kalkulator-zakat .row button {
    background: #FDE3C8;
    border: 1px solid #2E3349;
    border-radius: 5px;
    font-weight: 500;
    width: 100px;
    height: 30px;
    font-size: 12px;
    line-height: 18px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.kalkulator-zakat button:hover {
    color: #333;
}


/* Puasaaa */

.banner-puasa {
    background: #FFC7C0;
    color: #7B3A3A;
}

.banner .cta .btn-puasa {
    background: #7B3A3A;
    border-radius: 5px;
    color: #fff;
    font-weight: 400;
    font-size: 10px;
}

.vector-puasa {
    margin-top: -28px;
    width: 240px;
}

.puasa {
    width: 90%;
    margin: auto;
}

.date h5 {
    font-size: 16px;
    font-weight: 600;
}

.day {
    width: 40px;
    height: 50px;
    background: #FFD4CE;
    border: 2px solid #7B3A3A;
    box-sizing: border-box;
    border-radius: 5px;
}

.day h6 {
    font-weight: 500;
    font-size: 8px;
    line-height: 12px;
    margin-bottom: 4px;
    margin-top: 5px;
}

.day h4 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.card-puasa {
    margin-bottom: 30px;
    border: 2px solid #7B3A3A;
    box-sizing: border-box;
    border-radius: 10px;
}

.tag {
    width: 10px;
    height: 50px;
    border-radius: 5px;
    margin: 15px 10px 15px 20px;
}

.card-puasa h6 {
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 7px;
}

.card-puasa p {
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
}

.ayyamul-bidh {
    background-color: #80CACA;
}

.senin-kamis {
    background-color: #84B5FF;
}

.puasa-asyura {
    background-color: #ABA4FF;
}

.puasa-tasua {
    background-color: #49DFD6;
}

.modal-puasa .modal-body p {
    font-size: 13px;
}


/* Doaaa */

.banner-doa {
    color: #1F4B4B;
    background-color: #80CACA;
}

.banner-doa .cta .btn-doa {
    background: #1F4B4B;
    color: white;
    border-radius: 8px;
    font-weight: 400;
    font-size: 10px;
}

.vector-doa {
    margin-top: -20px;
    width: 220px;
}

.buttons {
    width: 90%;
    margin: auto;
}

.btn-dzikir {
    height: 50px;
    border-radius: 10px;
    border: 3px solid #80CACA;
    box-sizing: border-box;
}

.btn-active {
    background-color: #80CACA;
}

.buttons .btn-dzikir .btn {
    font-size: 12px;
    color: #333;
    font-weight: 600;
}


/* Dzikir Pagiii */

.title,
.intro {
    width: 90%;
    margin: auto;
}

.title h6 {
    font-weight: 700;
    font-size: 20px;
    color: #3b8686;
}

.title p {
    font-weight: 500;
    font-size: 14px;
}

.intro p {
    font-size: 14px;
}

.ayat {
    width: 90%;
    margin: auto;
    background: #FFFFFF;
    border: 3px solid #83D0CD;
    box-sizing: border-box;
    border-radius: 13px;
    margin-bottom: 50px;
}

.head-ayat {
    margin: 0;
    background: #83D0CD;
    border: 3px solid #83D0CD;
    box-sizing: border-box;
    border-radius: 10px 10px 0px 0px;
    color: #333;
    padding: 10px 20px 10px 10px;
}

.body-ayat {
    margin-top: 30px;
    padding: 0 25px 15px 25px;
}

.body-ayat h2 {
    font-family: 'Scheherazade', serif;
    font-size: 35px;
    color: #333;
}

.body-ayat p {
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 15px;
}


/* Doa Anakkk */

.banner-doa-anak {
    background: #80CACA;
    border-top: 1px solid #888888;
    width: 100%;
    margin: auto;
    color: #1F4B4B;
    padding: 50px 18px 20px 0;
}

.banner-doa-anak .cta h5 {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
}

.banner-doa-anak .cta button {
    background: #1F4B4B;
    border-radius: 5px;
    font-size: 10px;
    color: #fff;
    margin-top: 6px;
}

.vector-doa-anak {
    margin-top: -20px;
    width: 220px;
}

.search {
    width: 90%;
    margin: auto;
    margin-bottom: -20px;
    margin-top: 50px;
}

.modall h6 {
    font-size: 15px;
}


/* Doa Pilihannn */

.banner-doa-pilihan {
    background: #80CACA;
    border-top: 1px solid #888888;
    width: 100%;
    margin: auto;
    color: #1F4B4B;
    padding: 50px 18px 20px 0;
}

.banner-doa-pilihan .cta h5 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

.banner-doa-pilihan .cta button {
    background: #1F4B4B;
    border-radius: 5px;
    font-size: 10px;
    color: #fff;
    margin-top: 6px;
}

.vector-doa-pilihan {
    margin-top: -60px;
    width: 220px;
}

.doa-pilihan {
    margin: auto;
    margin-top: 50px;
    /* background-color: lightblue; */
    width: 90%;
    height: 50px;
}

.card-doa {
    /* background-color: lightcoral; */
    width: 100%;
    margin: auto;
    height: 20px;
}

.buttons .btn-dzikir .btn {
    padding: 0;
}

.btn-dzikir .btn img {
    height: 25px;
}

.btn-doa {
    /* width: 45%; */
    color: #333;
    font-weight: 600;
    font-size: 12px;
    border: 3px solid #80CACA;
    border-radius: 10px;
}

@media only screen and (max-width: 1100px) {
    body {
        width: 53%;
    }
}

@media only screen and (max-width: 900px) {
    body {
        width: 70%;
    }
}

@media only screen and (max-width: 720px) {
    body {
        width: 80%;
    }
}

@media only screen and (max-width: 530px) {
    body {
        width: 100%;
    }
}

@media only screen and (max-width: 400px) {
    .banner {
        padding: 30px 25px 15px 30px;
    }
    .menu p {
        font-size: 8px;
    }
    .vector-sholat,
    .vector-puasa {
        width: 200px;
    }
    .schedule h6,
    .schedule h5,
    .date h5 {
        font-size: 14px;
    }
    .vector-doa {
        width: 180px;
    }
    .banner .cta h5 {
        font-weight: 700;
        font-size: 17px;
        line-height: 25px;
        margin-bottom: 8px;
    }
    .banner .cta button {
        font-size: 9px;
    }
    .box {
        width: 90px;
        height: 90px;
        border-radius: 10px;
        padding: 12px 0;
        margin-bottom: 30px;
    }
    .box img {
        height: 40px;
    }
    .day {
        width: 35px;
        height: 45px;
    }
    .day h6 {
        font-weight: 500;
        font-size: 7px;
        line-height: 10px;
        margin-bottom: 3px;
        margin-top: 6px;
    }
    .day h4 {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
    }
    .buttons .btn-dzikir .btn {
        padding: 0;
        font-size: 10px;
    }
    .btn-dzikir .btn img {
        height: 20px;
    }
}